/*
***********************
* Francesco Vatteroni *
*  Matricola: 468134  *
*        UniPi        *
***********************
*/

@font-face {
    font-family: 'Gtek';
    src: url('src/fonts/Gtek.ttf');
}

h1 {
    padding-top: 15px;
    font-family: 'Gtek';
    font-size: xx-large;
}

button {
    width: 20%;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 0px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
    top: -17px;
}

button.play {background-color: #3cba54;}
button.edit {background-color: #4885ed;}

.speed {
    -webkit-appearance: none;
    width: 20%; 
    border-radius: 4px;
    height: 50px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.speed::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f4c20d;
    cursor: pointer;
}

.speed::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f4c20d;
    cursor: pointer;
}

select {
    width: 20%;
    height: 50px;
    padding: 16px 20px;
    position: relative;
    top: -19px;
    border: none;
    border-radius: 4px;
    background-color: #F4800d;
}

* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { width:100%; height:100%; } /* just to be sure these are full screen*/

canvas { display:block;}

.switch {
    position: relative;
    display: inline-block;
    top: -14px;
    left: -14px;
    width: 50px;
    height: 25px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #c20df4;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #c20df4;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 4px;
  }
  
  .slider.round:before {
    border-radius: 4px;
  }

  .toolbar {
    position: relative;
    width: 90%;
    top: 0px;
    left: 15px;
  }